# Snakemake
.snakemake/
results/
logs/
stamps/
snakemake.pid

# Python
__pycache__/
*.py[cod]
*$py.class

# Data
# input
*.xlsx
# cellranger
*.mro
*.stamp

# fasta
*.fastq
*.fastq.gz
*.fq
*.fq.gz
# bam
*.bam
*.csv
*.log
*.tbi
